.banner-1{
    background-image:url('https://i.ibb.co/3S1vRsG/optimistic-woman-straw-hat-covers-her-eyes-with-orange-smiles-while-looking-camera-197531-17718.webp');
    background-position: center;
    background-size: cover;
}
.banner-2{
    background-image:url('https://i.ibb.co/z5qRjt8/56545421-boy-girl-and-baby-with-variety-of-fruit-and-vegetable-colorful-rainbow-of-raw-fruits-and-ve.webp');
    background-position: center;
    background-size: cover;
}
.banner-3{
    background-image:url('https://i.ibb.co/0Qbwzmn/portrait-young-woman-with-fruits-vegetables-23-2149384018.webp');
    background-position: center;
    background-size: cover;
}
.banner-4{
    background-image:url('https://i.ibb.co/vmLLbyv/360-F-155993881-phy-Am-Cb-KIOw-TN7-U3o-Mlhf-Hll-POpw-VNv-A.jpg');
    background-position: center;
    background-size: cover;
}